/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Very Dark Magenta: hsl(300, 43%, 22%)
Soft Pink: hsl(333, 80%, 67%)

### Neutral

Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [League Spartan](https://fonts.google.com/specimen/League+Spartan)
- Weights: 400, 500, 700 */
:root {
  --maincolor: hsl(300, 43%, 22%);
  --medcolor: hsl(303, 10%, 53%);
  --lightcolor: hsl(300, 24%, 96%);
  --whitetext: hsl(0, 0%, 100%);
  --pinktext: hsl(333, 80%, 67%);
}

* {
  box-sizing: border-box;
  margin: 0 auto;

  font-family: League Spartan;
}

@media (min-width: 376px) {
  .main_container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100vh;
    width: 100vh;
    background-image: url("./images/bg-pattern-top-desktop.svg");
  }

  .main_review h1 {
    font-family: League Spartan;
    font-weight: 700;
    font-size: 3rem;
    color: var(--maincolor);
  }

  .main_review p {
    margin-top: 1.5rem;
    font-weight: 400;
    color: var(--medcolor);
    font-size: 1.2rem;
  }

  .top_side {
    display: flex;
    gap: 30rem;
    margin-top: 8rem;
  }

  .star_reviews {
    display: flex;
    position: relative;
    right: 300px;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
  }

  .star_review {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 1rem;
    height: 48px;
    padding: 1.8rem;
    font-size: 12px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--maincolor);
    background-color: var(--lightcolor);
  }

  .star_review img {
    width: 16px;
    height: 16px;
  }

  .user_reviews {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
  }

  .user_review {
    display: flex;
    flex-direction: column;
    background-color: var(--maincolor);

    height: 200px;
    width: 300px;
    border-radius: 6px;
  }

  .user_review h3 {
    color: var(--whitetext);
    font-size: 15px;
    font-weight: 500;
    margin-top: 2.2rem;
  }

  .user_review h4 {
    color: var(--pinktext);
    font-size: 15px;
    font-weight: 400;
    margin-top: 0.2rem;
  }

  .user_review p {
    color: var(--whitetext);
    font-size: 13px;
    font-weight: 400;
    padding: 2rem;
    line-height: 1.2;
  }

  .user_info {
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;
    margin-right: 8rem;
  }

  .user_info img {
    border-radius: 50px;
    height: 40px;
    width: auto;
    margin-top: 1.8rem;
    margin-bottom: 0;
  }

  .box-2 {
    margin-top: 1rem;
  }

  .box-3 {
    margin-top: 2rem;
  }

  .star-2 {
    margin-left: 8rem;
  }

  .star-3 {
    margin-left: 12rem;
  }
}

@media (max-width: 375px) {
  .main_container {
    max-width: 375px;
  }

  .top_side {
    display: flex;
    flex-direction: column;
  }

  .main_review {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
  }

  .main_review h1 {
    margin: 1.2rem;
    font-weight: 700;
    font-size: 3rem;
    color: var(--maincolor);
  }

  .main_review p {
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--medcolor);
  }

  .star_reviews {
    margin-top: 1.5rem;
  }
  .stars {
    display: flex;
    gap: 0.6rem;
  }

  .star_review {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
    height: 48px;
    padding: 2.5rem;
    font-size: 12px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--maincolor);
    background-color: var(--lightcolor);
  }

  .user_reviews {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }

  .user_review {
    display: flex;
    flex-direction: column;
    background-color: var(--maincolor);

    height: 200px;
    width: 300px;
    border-radius: 6px;
  }

  .user_review h3 {
    color: var(--whitetext);
    font-size: 15px;
    font-weight: 500;
    margin-top: 2.2rem;
  }

  .user_review h4 {
    color: var(--pinktext);
    font-size: 15px;
    font-weight: 400;
    margin-top: 0.2rem;
  }

  .user_review p {
    color: var(--whitetext);
    font-size: 13px;
    font-weight: 400;
    padding: 2rem;
    line-height: 1.2;
  }

  .user_info {
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;
    margin-right: 8rem;
  }

  .user_info img {
    border-radius: 50px;
    height: 40px;
    width: auto;
    margin-top: 1.8rem;
    margin-bottom: 0;
  }
}
